*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  /* font-optical-sizing: auto; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
.nav-menu ul{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.nav-menu li{
    list-style-type: none;
}
.nav-menu a{
    text-decoration: none;
    color: #3a3a3a;
    line-height: 1.5;
    font-weight: 500;
    font-size: 20px;
}
.btn{
    background-color: #469165;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
}
.btn:hover{
    background-color:#2F6E4B ;
    cursor: pointer;
}
.btn-1{
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    border: 1px solid white;
    margin-left: 15px;
}
.btn-1:hover{
    background-color:gray;
    cursor: pointer;
}

#banner{
    width: 100%;
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#banner .banner-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding: 70px 120px;
}
.banner-image {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #469165;
    font-size: 16px;
    border-radius: 1000px;
    padding: 8px 12px;
    border:none;
    margin-bottom: 16px;
}
.banner-container h2{
    font-size: 72px;
    line-height: 84px;
    font-weight: bold;
    color: #FFFFFF;
}
.banner-container h2 span{
    color: #30B868;
    margin-bottom: 16px;
}
.banner-container p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
#features{
    padding-top: 30px;
}
.features-container{
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
}
.features-head{
    text-align: center;
}
.features-head h3{
    font-size: 48px;
    color: #001931;
    font-weight: bold;
    margin-bottom: 16px;
}
.features-head p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 44px;
}

.features-content{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 24px;
}
.features-card{
    width: 322px;
    padding: 24px;
    border: 1px solid #ccc;
    display:block;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    
}
.icon{
    background-color: #F95555;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    margin: 0 auto;
}
.icon img{
    max-width: 32px;
    height:32px;
}
.features-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.features-card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.hero-container{
    padding: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content h4{
    font-size: 16px;
    line-height: 20px;
    color: #469165;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.hero-content h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.hero-content p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.hero-content span{
    font-size: 16px;
    color: #001931;
    line-height: 30px;
}



#call .call-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding: 0 120px 0px 120px;
    background-color: #F7F6F2;
    border-radius: 12px;
    margin: 0 auto;
}
.call-content{
     padding: 80px 40px;
    }
    

.call-content h2{
    font-size: 40px;
    color: #001931;
    font-weight: bold;
    margin-bottom: 16px;
}
.call-content p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-top: 24px;
    margin-bottom: 24px;
}

footer{
    background-color:#001931;

}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 100px 120px 30px 120px;
    color: white;
}
.footer-bottom{
    text-align: center;
    color: #FFFFFF;
}
.social-links p{
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.social-links p{
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 14px;
}

.icons a {
    display: inline-flex;
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.icons i {
    border-radius: 50%;
    /* align-items: center;
    justify-content: center;
    background-color: white;
    gap: 15px; */
}
.footer-bottom P{
    font-size: 20px;
    color: #FAFAFA;
    line-height: 24px;
    margin-top: 25px;
    padding-bottom: 30px;
}